@charset "utf-8";
ul{margin:0;padding:0;border:0;vertical-align:baseline;}
li{list-style:none;}
.viewCon{ background:#FFF;}
.viewCon p{text-align:justify;text-justify:inter-ideograph;font-size:2.6rem;}
.viewCon{margin:0 auto;width:100%;max-width:1200px;min-width:320px;margin-bottom: .2rem;padding-bottom:.3rem;}
.viewCon img{display:block;width:100%;object-fit:cover;}
.viewCon header>ul{position:relative;z-index:2;padding:4.166667% 4% 3.833333%;-webkit-transition:all .3s;transition:all .3s;}
.viewCon header>ul .menuBtn{width:7%;}
.viewCon header>ul .menuBtn span{display:block;width:100%;height:6px;border-radius:50px;background:#fff;}
.viewCon header>ul .menuBtn span:nth-of-type(2){margin:20px 0;width:55%;}
.viewCon header>ul .menuBtn span:nth-of-type(3){width:75%;}
.viewCon header>ul .logo{width:56%;}
.viewCon header>ul .talkBtn{width:7%;}
.viewCon .banner{position:relative;z-index:2;}
.viewCon .swiper-slide{box-shadow: #b7b2b2 0px 2px 10px -1px;overflow:hidden;width:78%;border-radius:25px;-webkit-transition:all .3s;transition:all .3s;-webkit-transform:scale(.92);transform:scale(.92);}
.viewCon .swiper-slide-active{-webkit-transform:scale(1);transform:scale(1);background: rgba(153,0,51,.4);overflow: hidden}

.viewCon .swiper-pagination{bottom:-10px;}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 11px;width:25px;height:25px;background:#d2d2d2;opacity:1;-webkit-transition:all .3s;transition:all .3s;}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#f8b500;}
.viewCon .nav{padding:5.666667% 5.5% 1%;}
.viewCon .nav figure{position:relative;width:24.544%;}
.viewCon .nav figure::before{position:absolute;top:-4%;left:0;padding-top:100%;width:100%;}


.viewCon .doc{padding:3.333333% 0}
.viewCon .doc .swiper-slide{position:relative}
.viewCon .doc .swiper-slide-active{box-shadow:0 0 60px 0 rgba(204,204,204,.5)}
.viewCon .doc .swiper-pagination{bottom:4.5%}

@media screen and (min-width:320px) and (max-width:374px){html{font-size:16.66%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:4px 0;}
.viewCon header ul .menuBtn span{height:2px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:6px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px;width:8px;height:8px;}
.viewCon .nav figure h6{margin:6px 0 15px;}
}
@media screen and (min-width:375px) and (max-width:409px){html{font-size:19.53%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:6px 0;}
.viewCon header ul .menuBtn span{height:2px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:8px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px;width:8px;height:8px;}
.viewCon .nav figure h6{margin:8px 0 17px;}
}
@media screen and (min-width:410px) and (max-width:479px){html{font-size:21.3%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:7px 0;}
.viewCon header ul .menuBtn span{height:3px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:10px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px;width:10px;height:10px;}
.viewCon .nav figure h6{margin:10px 0 20px;}
}
@media screen and (min-width:480px) and (max-width:767px){html{font-size:25%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:10px 0;}
.viewCon header ul .menuBtn span{height:4px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:15px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 7px;width:16px;height:16px;}
.viewCon .nav figure h6{margin:14px 0 32px;}
}
@media screen and (min-width:768px) and (max-width:899px){html{font-size:38%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:14px 0;}
.viewCon header ul .menuBtn span{height:6px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:19px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 7px;width:18px;height:18px;}
.viewCon .nav figure h6{margin:16px 0 36px;}
}
@media screen and (min-width:900px) and (max-width:1024px){html{font-size:50%;}
.viewCon header ul .menuBtn span:nth-of-type(2){margin:15px 0;}
.viewCon header ul .menuBtn span{height:6px;}
.viewCon .swiper-slide,.viewCon .anli .anliTop .swiper-slide dl dd figure{border-radius:20px;}
.viewCon .banner .swiper-slide-active,.viewCon footer .linkBtn{}
.viewCon .doc .swiper-slide-active,.viewCon .anli .anliTop .swiper-slide-active{}
.viewCon .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 7px;width:22px;height:22px;}
.viewCon .nav figure h6{margin:20px 0 40px;}
}